/* Comms panel. */
.comms-container {
	width: 665px;
	height: 57px;
	line-height: 60px;
	z-index: 3;
}

#comms-container1 {
	left: 66.7%;
	bottom: 23.3%;
}

#comms-container2 {
	left: 66.7%;
	bottom: 15.3%;
}

#comms-container3 {
	left: 66.7%;
	bottom: 7.3%;
}

/* Comms name dynamic text. */
.comms-name {
	max-width: 400px;
	text-align: center;
}

img {
  position: fixed;
  bottom: 30px;
  right: 200px;
  height: auto;
  z-index: 2;
  pointer-events: none;
  transform-origin: bottom right;
  transform: scale(0.95);
}