/* Comms panel. */
.comms-container {
	width: 450px;
	max-height: 57px;
	line-height: 57px;
	transform: translateX(-50%);
	/* display: flex;
	flex-wrap: nowrap; */

}

#comms-container1 {
	left: 27.8%;
	top: 598px;
}

#comms-container2 {
	left: 50%;
	top: 598px;
}

#comms-container3 {
	left: 72.2%;
	top: 598px;
}

.comms-name {
	/* max-width: 200px; */
	/* flex: 0 0 300px; */
	text-align: center;
	display: inline-block;
	height: 50px;
}

.comms-pronouns {
	/* flex: 0 0 100px; */
	text-align: center;
	display: inline-block;
	height: 50px;
}
